In [1]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url='https://gdpr-api.sharethis.com/v2/cmp-list.json'

In [3]:
response = requests.get(url)

In [4]:
response

In [5]:
html= response.text

In [6]:
soup = BeautifulSoup(html, 'html.parser')

In [7]:
# soup.title.text.strip()

In [8]:
# soup

In [10]:
json_response = response.json()

In [11]:
companies = list(json_response['cmps'].values())

In [12]:
 # print(companies)

In [14]:
pd.DataFrame(companies)

      id                            name  isCommercial deletedDate
0      2            AppConsent by SFBX®           True         NaN
1      3                        LiveRamp          True         NaN
2      5                Usercentrics.com          True         NaN
3      6  Sourcepoint Technologies, Inc.          True         NaN
4      7                          Didomi          True         NaN
..   ...                             ...           ...         ...
167  411                       DPG Media         False         NaN
168  412                          Termly          True         NaN
169  413      Kayak Software Corporation         False         NaN
170  414                        MBEX LTD         False         NaN
171  415                 Match Group LLC         False         NaN

[172 rows x 4 columns]